* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #333;
    color: rgb(148, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 20px 0;
    width: 150px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    width: 80%;
    padding: 20px;
    background-color: #f4f4f4;
}

.widget {
    padding: 20px;
    background: url('assets/cloudy.jpg') no-repeat center;
    background-size: cover;
    color: rgb(134, 53, 53);
    border-radius: 8px;
    margin-bottom: 20px;
}

.weather-info {
    display: flex;
    justify-content: space-between;
}

.weather-info p, .weather-info img {
    font-size: 18px;
}

#charts {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

canvas {
    width: 300px;
    height: 300px;
}
.logo{
    width: 60px;
}
#weather-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: white;
}
#weather-icon{
width: 5%;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
